$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #b4befe; // Lavender
$secondary_paletteKeyColor: #cba6f7; // Mauve
$tertiary_paletteKeyColor: #f5e0dc; // Rosewater
$neutral_paletteKeyColor: #7f849c; // Overlay1
$neutral_variant_paletteKeyColor: #6c7086; // Overlay0
$background: #181825; // Mantle
$onBackground: #bac2de; // Subtext1
$surface: #181825; // Mantle
$surfaceDim: #1e1e2e; // Base
$surfaceBright: #313244; // Surface0
$surfaceContainerLowest: #11111b; // Crust
$surfaceContainerLow: #1e1e2e; // Base
$surfaceContainer: #313244; // Surface0
$surfaceContainerHigh: #45475a; // Surface1
$surfaceContainerHighest: #585b70; // Surface2
$onSurface: #bac2de; // Subtext1
$surfaceVariant: #6c7086; // Overlay0
$onSurfaceVariant: #a6adc8; // Subtext0
$inverseSurface: #bac2de; // Subtext1
$inverseOnSurface: #181825; // Mantle
$outline: #7f849c; // Overlay1
$outlineVariant: #6c7086; // Overlay0
$shadow: #000000; // Shadow
$scrim: #000000; // Scrim
$surfaceTint: #cba6f7; // Mauve
$primary: #cba6f7; // Mauve
$onPrimary: #181825; // Mantle
$primaryContainer: #313244; // Surface0
$onPrimaryContainer: #bac2de; // Subtext1
$inversePrimary: #bac2de; // Subtext1
$secondary: #b4befe; // Lavender
$onSecondary: #181825; // Mantle
$secondaryContainer: #313244; // Surface0
$onSecondaryContainer: #bac2de; // Subtext1
$tertiary: #f5e0dc; // Rosewater
$onTertiary: #181825; // Mantle
$tertiaryContainer: #313244; // Surface0
$onTertiaryContainer: #bac2de; // Subtext1
$error: #f38ba8; // Red
$onError: #181825; // Mantle
$errorContainer: #313244; // Surface0
$onErrorContainer: #bac2de; // Subtext1
$primaryFixed: #cba6f7; // Mauve
$primaryFixedDim: #cba6f7; // Mauve
$onPrimaryFixed: #181825; // Mantle
$onPrimaryFixedVariant: #313244; // Surface0
$secondaryFixed: #b4befe; // Lavender
$secondaryFixedDim: #b4befe; // Lavender
$onSecondaryFixed: #181825; // Mantle
$onSecondaryFixedVariant: #313244; // Surface0
$tertiaryFixed: #f5e0dc; // Rosewater
$tertiaryFixedDim: #f5e0dc; // Rosewater
$onTertiaryFixed: #181825; // Mantle
$onTertiaryFixedVariant: #313244; // Surface0
$success: #a6e3a1; // Green
$onSuccess: #181825; // Mantle
$successContainer: #313244; // Surface0
$onSuccessContainer: #bac2de; // Subtext1
$term0: #181825; // Mantle
$term1: #f5e0dc; // Rosewater
$term2: #f2cdcd; // Flamingo
$term3: #f5c2e7; // Pink
$term4: #cba6f7; // Mauve
$term5: #f38ba8; // Red
$term6: #eba0ac; // Maroon
$term7: #fab387; // Peach
$term8: #f9e2af; // Yellow
$term9: #a6e3a1; // Green
$term10: #94e2d5; // Teal
$term11: #89dceb; // Sky
$term12: #74c7ec; // Sapphire
$term13: #89b4fa; // Blue
$term14: #b4befe; // Lavender
$term15: #bac2de; // Subtext1
